@model ConstantConnect.MVCClient.Models.DocumentModel

<div class="container-fluid">
    <div class="row-fluid">
        <h3>Documents</h3>
        @*<form action="~/Room/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                    <input type="submit" value="Upload" />
                </div>
            </form>*@
        <div class="form-group" id="actions">

            <span class="btn btn-success fileinput-button dz-clickable">
                <i class="fa fa-plus"></i>
                <span>Add files...</span>
            </span>

            <button type="submit" class="btn btn-primary start">
                <i class="fa"></i>
                <span>Start upload</span>
            </button>

            <button type="reset" class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel upload</span>
            </button>
        </div>
    </div>

    <div class="table table-striped files" id="previews">
        <div id="template" class="file-row col-lg-12">
            <!-- This is used as the file preview template -->
            <span class="preview col-lg-1"><img data-dz-thumbnail /></span>
            <div class="col-lg-3">
                <div class="row">
                    <p class="name" data-dz-name></p>
                    <strong class="error text-danger" data-dz-errormessage></strong>
                    <p class="size" data-dz-size></p>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group pull-right">
                    <button class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>
                    <button data-dz-remove class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                    <button data-dz-remove class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


</script>
