<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hq-webdev01</MSDeployServiceURL>
    <DeployIisAppPath>api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>corp\administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConstantConnectEntities" Order="7" Enabled="False">
          <Destination Path="Data Source=floyd.corp.cenero.com;Initial Catalog=ConstantConnect;User ID=constantconnectapi;Password=Cenero2587" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ConstantConnect.Repository.Entities.Contexts.ConstantConnectContext, ConstantConnect.Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CRMEntities" Order="8" Enabled="False">
          <Destination Path="Data Source=rush.corp.cenero.com;Initial Catalog=Cenero_MSCRM;User ID=webwrite;Password=Cenero2587!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ConstantConnect.Repository.Entities.Contexts.CRMContext, ConstantConnect.Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConstantConnectEntities-Web.config Connection String">
      <ParameterValue>Data Source=floyd.corp.cenero.com;Initial Catalog=ConstantConnect;User ID=constantconnectapi;Password=Cenero2587</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CRMEntities-Web.config Connection String">
      <ParameterValue>Data Source=rush.corp.cenero.com;Initial Catalog=Cenero_MSCRM;User ID=webwrite;Password=Cenero2587!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>