<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hq-webdev01</MSDeployServiceURL>
    <DeployIisAppPath>identity</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>corp\administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CRMEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=rush;Initial Catalog=Cenero_MSCRM;User ID=webwrite;Password=Cenero2587!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.170.19;Initial Catalog=Cenero_MSCRM;Persist Security Info=True;User ID=webwrite;Password=Cenero2587!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CRMEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.170.19;Initial Catalog=Cenero_MSCRM;Persist Security Info=True;User ID=webwrite;Password=Cenero2587!;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConstantConnectEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=floyd.corp.cenero.com;Initial Catalog=ConstantConnect;Persist Security Info=True;User ID=constantconnectapi;Password=Cenero2587" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.170.7;Initial Catalog=ConstantConnect;Persist Security Info=True;User ID=constantconnectapi;Password=Cenero2587" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConstantConnectEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.170.7;Initial Catalog=ConstantConnect;Persist Security Info=True;User ID=constantconnectapi;password=Cenero2587;MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConstantConnectEntities-Web.config Connection String">
      <ParameterValue>data source=floyd.corp.cenero.com;initial catalog=ConstantConnect;persist security info=True;user id=constantconnectapi;password=Cenero2587;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CRMEntities-Web.config Connection String">
      <ParameterValue>data source=rush;initial catalog=Cenero_MSCRM;user id=webwrite;password=Cenero2587!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>